@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .b{
        background-image: url('https://www.lopinion.ma/photo/art/default/51830555-39693001.jpg?v=1606409542');
        height: 540px;
        color: white;
        font-weight: 500;
        font-size: 28px;
        padding: 15px;
        background-repeat:no-repeat;
      background-size:cover;
    }
</style>
    <div class="b">
         <h1> إذا واجهتك مشكلة أتصل علي هذا الرقم </h1>
         <h1>01024657933</h1>
     </div>

